

@media screen and (min-width: 460px) {
    .about{
        font-family: "Quicksand";
        box-sizing: border-box;
    }
    
    p{
        text-indent: 3rem;
    }
    
    .about-img-container{
        float: right;
    }
    .text-container{
        height: 100vh;
        position: absolute;
        right: 600px;
        width: 50%;
        font-size: 80%;
        color: #212121;
    }
    .aboutFoto{
        position: absolute;
        right: 6.5rem;
        top: 10%;
        width: 30%;
    }
    .laravelLogo{
        position: absolute;
        top:1.2rem;
        right: 2rem;
    }
    .ih-container{
        display: flex;
    }
    .skills{
        margin-right: 200px;
    }
}

@media screen and (max-width: 460px) {
    .aboutFoto{
        display: none;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        width: 80vw;
        justify-content: center;
    }
    p{
        color: #212121;
        text-align: justify;
        font-size: .85rem;
    }
    .ih-container{
        display: flex;
        justify-content: space-between !important;
    }
    .hobbies{
        margin-left: 3rem;
    }
    ul{
        font-size: .85rem;
    }
    
}

@media screen and (max-width: 280px){
    .ih-container{
        display: flex;
        flex-direction: column;
    }
    .hobbies{
        margin: 0;
    }
}