section{
    display: flex;
    gap: 10px;
    cursor: pointer

}

article.active{
    width: 300px;
    opacity: 1;
}

article img{
    position: absolute;
    z-index: 0;
    top: 30%;
    left: 50%;
    width: 80%;
    height: 50%;
    /* width: 100%; */
    translate: -50% -50%;
    /* height: 100%; */
    filter: grayscale(.5)   
}

article{
    position: relative;
    overflow: hidden;
    background-color: #ffff;
    width: 34px;
    height: 400px;
    border-radius: 36px;
    display: flex;
    align-items: flex-end;
    opacity: .9;
    transition: .5s;
}
h2, p{
    margin: 0;
}
p{
    font-size: 15px;
}
article h2{
    font-size: 20px;
    font-weight: 400;
    color: rgba(9, 4, 4, 0.96)
}
article .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 200px 30px 30px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: linear-gradient(to bottom,rgb(0 0 0/ 0%),rgb(0 0 0/80%));
    transition: .25s;
}

article.active .content{
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width: 460px) {
    article h2{
        font-size: 14px;
        font-weight: 400;
        color: rgba(9, 4, 4, 0.96)
    }
    article p{
        font-size: 10px;
        font-weight: 400;
        color: rgba(9, 4, 4, 0.96)
    }
    article img{
        position: absolute;
        z-index: 0;
        top: 30%;
        left: 50%;
        width: 80%;
        height: 50%;
        /* width: 100%; */
        translate: -50% -50%;
        /* height: 100%; */
        filter: grayscale(.5)   
    }
    
    article{
        position: relative;
        overflow: hidden;
        background-color: #ffff;
        width: 24px;
        height: 300px;
        border-radius: 16px;
        display: flex;
        /* align-items: flex-end; */
        opacity: .9;
        transition: .5s;
    }

    article.active{
        width: 200px;
        opacity: 1;
    }

    article .content{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 170px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        /* padding: 100px 0 20px 20px; */
        display: flex;
        align-items: center;
        gap: 4px;
        background-color: linear-gradient(to bottom,rgb(0 0 0/ 0%),rgb(0 0 0/80%));
        transition: .25s;
    }
}