footer{
    width: 100vw;
    position: absolute;
    text-align: center;
    z-index: 0;
    padding: .2rem;
    box-sizing: border-box;
    color: #212121aa;
    font-weight: normal;
    bottom:0;
}
